* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffefc;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  padding-top: 5px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  padding-inline: 12px;
}
.track button {
  padding-inline: 20px;
  padding-block: 8px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'Courier New', Courier, monospace;
  border: 0.7px solid blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  z-index: 111;
}
.track button:hover {
  background-color: rgb(54, 54, 54);
  color: white;
  border: none;
  transition: all 0.7s;
}
nav ul li a {
  text-decoration: none;
  color: rgb(83, 83, 84);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
main {
  max-width: 100%;
  margin: auto;
  position: relative;
  max-width: 1400px;
  overflow: hidden;
}
.hero {
  width: 100%;
  display: flex;
  margin: auto;
  max-width: 1240px;
  overflow: hidden;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero_img {
  position: absolute;
  right: 70px;
  top: -130px;
  filter: saturate(0.3);
  z-index: -10;
}
.hero_text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.hero_text > h1 {
  margin-top: 60px;
  font-size: 60px;
}

.call-to-action {
  position: relative;
  width: 100%;
  max-width: 371px;
  min-height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action img {
  position: absolute;
  inset: 0;
  max-width: 100%;
  width: 310px;
}

.call-to-action > h1 {
  position: relative;
  z-index: 1;
  font-size: 40px;
  color: #85355e;
  text-align: center;
  top: -10px;
  right: 30px;
  font-family: cursive;
}
.hero_text button {
  padding: 20px 80px;
  background-color: #5732fb;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}

.inform {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 75px;
}
.inform .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.inform .stat h1 {
  color: #1e1c27;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.inform .stat p {
  color: #74767b;
  font-size: 14px;
}

.working {
  min-width: 100%;
  background-color: #1e1c29;
}
.working-process {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: max-content;
  min-height: 195px;
  padding-right: 100px;
  margin-block: 100px;
  gap: 70px;
}
.working-process > img {
  position: absolute;
  left: 90px;
  top: -137px;
}
.working-process h1 {
  max-width: 130px;
  color: #ffffff;
  font-size: 40px;
}
.working-process > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
}
.working-process .booking .image {
  padding: 20px;
  background-color: #8ac9fe;
  border-radius: 50%;
}
.working-process .packing .image {
  padding: 20px;
  background-color: #ffc928;
  border-radius: 50%;
}
.working-process .transport .image {
  padding: 20px;
  background-color: #b4e66d;
  border-radius: 50%;
}
.working-process .delivery .image {
  padding: 20px;
  background-color: #ffc265;
  border-radius: 50%;
}
.working-process > div p {
  font-size: 18px;
  text-align: center;
}
.services {
  width: 100%;
  max-width: 1020px;
  margin: auto;
  padding-inline: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}
.services > h1 {
  text-align: center;
  max-width: 430px;
}

.services > p {
  color: #5b5d61;
  max-width: 500px;
  text-align: center;
}
.services-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.service {
  background-color: #ffffff;
  box-shadow: 5px 5px 20px hsl(241, 100%, 95%);
  padding: 20px;
  width: max-content;
  min-width: 100%;
  display: flex;
  gap: 15px;
  border-radius: 10px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
  gap: 7px;
}
.text p {
  max-width: 430px;
}
.choice {
  max-width: max-content;
  background-color: #5732fb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 64px;
  gap: 25px;
  color: #ffffff;
}
.choice-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.choice-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
}
.choice-text button {
  border: none;
  border-radius: 4px;
  padding: 18px 40px;
  background-color: #fd6b22;
  color: #ffffff;
}
.choice-text-img img {
  border-radius: 10px;
}
.faq {
  display: flex;
  margin: auto;
  max-width: 1024px;
  margin-block: 60px;
}
.faq-img img {
  border-radius: 10px;
}
.faq-quest {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.faq-question {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer {
  background-color: #1e1c29;
  padding-inline: 75px;
  color: #ffffff;
}
.footer {
  max-width: 1220px;
  margin: auto;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  padding-block: 30px;
}
.ft-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  background-color: #ffffff20;
  padding: 20px;
  max-width: 350px;
  border-radius: 5px;
}
.footer-center ul {
  display: flex;
}
.footer-center ul li {
  padding: 16px;
}
